{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="mx-auto my-auto col-10 col-sm-8 col-md-7 col-lg-5 d-flex justify-content-center align-items-center div-login">
        <form method="post" class="w-100 p-4 no-input-br">
            <div class="text-center">
                <img src="{{ asset('assets/img/homepage/mypets_logo2.png') }}" alt="logo">
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control mt-4" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="custom-control custom-checkbox mt-3">
                <input type="checkbox" class="custom-control-input" name="_remember_me" id="_remember_me">
                <label class="custom-control-label" for="_remember_me">Se souvenir</label>
            </div>
            <div class="pull-right mt-3">
                <button class="btn btn-lg btn-success rounded-pill btn-sm" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}
