{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Détails information animal{% endblock %}

{% block body %}
    <h1 class="text-center">Fiche informations de {{ animal.nom }}</h1>

    {% if is_granted('ROLE_PROPRIETAIRE')%}
        <div class="col-4">
            {% include 'animal/include/_card.html.twig' %}
        </div>
    {% else %}

    <a class="btn btn-secondary rounded btn-sm" href="{{ path('animal_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste</a>

    <a class="btn btn-warning rounded btn-sm" href="{{ path('animal_edit', {'id': animal.id}) }}">Modifier</a>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>
                    <span class="logo-user ml-2">
                        <img src="{{ asset(dir_avatar_animal ~ animal.photo) }}" class="rounded-pill">
                    </span>
                </td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ animal.dateNaissance ? animal.dateNaissance|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ animal.race }}</td>
            </tr>
            <tr>
                <th>Puce</th>
                <td>{{ animal.puce }}</td>
            </tr>
            <tr>
                <th>Information du père</th>
                <td>{{ animal.infosPere }}</td>
            </tr>
            <tr>
                <th>Information de la mère</th>
                <td>{{ animal.infosMere }}</td>
            </tr>
            <tr>
                <th>Traitements</th>
                <td>{{ animal.traitements }}</td>
            </tr>
            <tr>
                <th>Décédé ?</th>
                <td>{{ animal.decede ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date du décès</th>
                <td>{{ animal.dateDeces ? animal.dateDeces|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Cause du décès</th>
                <td>{{ animal.causeDeces }}</td>
            </tr>
        </tbody>
    </table>

    {% endif %}
{% endblock %}
