{% extends 'base.html.twig' %}

{% block title %}MyPets | Page d'acceuil{% endblock %}

{% block bodySup %}
    {% block body %}
        <section class="m-auto p-5">
            <div class="text-center mb-5">
                <h1 class="display-6 mb-3"> Vos carnets de santé DÉMATERIALISÉ ! </h1>
                <img class="m-3" src="{{ asset("assets/img/svg/manual-book.svg") }}" alt="manual_book">
                <img class="m-3" src="{{ asset("assets/img/svg/arrow-right-solid.svg") }}" alt="arrow">
                <img class="m-3" src="{{ asset("assets/img/svg/laptop.svg") }}" alt="laptop">
                <p class="mt-3"> Pour chacuns de vos animaux,
                    plus besoin d’avoir votre carnet de santé physique,
                    <br>
                    MyPets se charge de garder les informations santé de vos animaux de compagnie !
                </p>
            </div>


            <div class="text-center">
                <h1 class="display-6 mb-3"> Vou pouvez prendre rendez-vous ! </h1>
                <img class="m-3" src="{{ asset("assets/img/svg/laptop.svg") }}" alt="laptop">
                <img class="m-3" src="{{ asset("assets/img/svg/arrow-right-solid.svg") }}" alt="arrow">
                <img class="m-3" src="{{ asset("assets/img/svg/vet.svg") }}" alt="vet">
                <p class="mt-3"> En plus d’avoir vos carnets de santé sur notre plateforme vous pouvez aussi
                    <br>
                    prendre rendez-vous avec les vétérinaires
                    les plus proche de chez vous gratuitement.
                </p>
            </div>

        </section>



        <section class="p-5 bg-primary text-white">
            <div class="text-center mb-5">
                <h1 class="display-6 mb-3"> Confirmation du rendez-vous ! </h1>
                <div>
                    <img class="m-3" src="{{ asset("assets/img/svg/vet.svg") }}" alt="vet">
                    <img class="m-3" src="{{ asset("assets/img/svg/arrow-right-solid-white.svg") }}" alt="arrow">
                    <img class="m-3" src="{{ asset("assets/img/svg/person.svg") }}" alt="person">
                </div>
                <p class="mt-3"> Votre rendez-vous est confirmé sous 24h,
                    un mail de confirmation vous sera envoyé.
                    <br>
                    Plus qu’à attendre le jour J !
                </p>
            </div>

            <div class="mt-3 text-center">
                <h1 class="display-6 mb-3"> Un imprévu ? Pas de soucis ! </h1>
                <div>
                    <img class="m-3" src="{{ asset("assets/img/svg/person.svg") }}" alt="person">
                    <img class="m-3" src="{{ asset("assets/img/svg/arrow-right-solid-white.svg") }}" alt="arrow">
                    <img class="m-3" src="{{ asset("assets/img/svg/times-solid.svg") }}" alt="cross">
                </div>
                <div>
                    <p class="mt-3 mb-3"> Vous pouvez à tout moment annuler votre rendez-vous si vous avez un imprévu.
                        <br>
                        Tout ça, rapidement et gratuitement !
                    </p>
                </div>
            </div>
        </section>

        <section class="m-auto p-5">

            <div class="mt-3 text-center">
                <h1 class="display-6 mb-3"> Vous êtes une clinique et vous souhaitez rejoindre la plateforme ?</h1>
                <div>
                    <img class="m-3" src="{{ asset("assets/img/svg/health-clinic.svg") }}" alt="clinic">
                    <img class="m-3" src="{{ asset("assets/img/svg/arrow-right-solid.svg") }}" alt="arrow">
                    <img class="m-3" src="{{ asset("assets/img/homepage/mypets_logo_background.png") }}" alt="cross">
                </div>
                <div>
                    <p class="mt-3 mb-3">Remplissez une <a href="{{ url('app_register') }}">demande d'inscription</a> et elle sera étudiée puis validée !</p>
                </div>
            </div>
        </section>
    {% endblock %}

{% endblock %}
