<div class="card rounded w-100 d-flex wrap">
    <div class="card-body d-flex">
        <div class="mr-3">
            <a href="{{ url('animal_show', {id: animal.id}) }}">
                {% if animal.photo %}
                    <span class="logo-user ml-2">
                        <img src="{{ asset(dir_avatar_animal ~ animal.photo) }}" class="rounded-pill">
                    </span>
                {% else %}
                    <span class="logo-user__default ml-2"><i class="fas fa-dog"></i></span>
                {% endif %}
            </a>
        </div>
        <div>
            <h5 class="card-title">{{ animal.nom }}</h5>
            <p class="card-text">
                Type : {{ animal.type.nom }} <br/>
                Date de naissance : {{ animal.dateNaissance | date('d/m/Y') }} <br/>
                Race : {{ animal.race }} <br/>
                Puce : {{ animal.puce }} <br/>
                Informations du père : {{ animal.infosPere }} <br/>
                Informations de la mère : {{ animal.infosMere }} <br/>
                Vétérinaire habituel : {{ animal.veterinaireHabituel.nom }} {{ animal.veterinaireHabituel.prenom }} <br/>
                Traitements : {{ animal.traitements }} <br/>
                
                {% if not is_granted(ROLE_PROPRIETAIRE) %}
                    Propriétaire : {{ animal.Proprietaire.nom }} {{ animal.Proprietaire.prenom }} <br/>
                {% endif %}

                {% if animal.decede %}
                    Date du décès : {{ animal.dateDeces | date('d/m/Y') }} <br/>
                    Cause du décès : {{ animal.causeDeces }} <br/>
                    Race : {{ animal.race }} <br/>
                {% endif %}

                Vaccins : 
                {% for vaccin in animal.vaccins %}
                    {{ vaccin.nom }}
                {% else %}
                    Aucun vaccin pour le moment.
                {% endfor %} <br/>

            </p>
        </div>

    </div>
    {% if is_granted(ROLE_ADMIN) or is_granted(ROLE_CLINIQUE) or is_granted(ROLE_VETERINAIRE) or is_granted(ROLE_PROPRIETAIRE) %}
        <a class="btn btn-warning rounded-pill btn-sm icon-card" href="{{ url('animal_edit', {id: animal.id}) }}"><i class="fas fa-pen"></i> </a>
    {% endif %}
</div>