<ul class="nav nav-pills d-flex flex-sm-row flex-lg-column nowrap h-100 w-100 bg-primary pt-5 pb-5 nav-left">

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/dog_50x50.svg") }}" alt="animal">
        <a href="#" class="ml-1">ANIMAUX</a>
    </li>

    <li class="nav-item mr-0 p-2 active">
        <img src="{{ asset("assets/img/svg/vet_50x50.svg") }}" alt="vet">
        <a href="{{ path('veterinaire_index') }}" class="ml-1">VETERINAIRES</a>
    </li>

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/person_50x50.svg") }}" alt="person">
        <a href="#" class="ml-1">PARTICULIERS</a>
    </li>

    <li class="nav-item mr-0 p-2">
        <img src="{{ asset("assets/img/svg/calendar_50x50.svg") }}" alt="calendar">
        <a href="#" class="ml-1">RENDEZ-VOUS</a>
    </li>

</ul>