{% extends 'layout/base_user.html.twig' %}

{% block title %}MyPets | Cliniques{% endblock %}

{% block body %}
    <h1 class="text-center">Toutes les cliniques</h1>

    <a class="btn btn-success rounded pull-right mb-2" href="{{ path('clinique_new') }}">Nouvelle clinique</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Rendez-vous à domicile ?</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clinique in cliniques %}
            <tr>
                <td>{{ clinique.id }}</td>
                <td>{{ clinique.nom }}</td>
                <td>{{ clinique.adresse }}</td>
                <td>{{ clinique.email }}</td>
                <td>{{ clinique.telephone }}</td>
                <td>{{ clinique.rdvDomicile ? 'Oui' : 'Non' }}</td>
                <td>{{ clinique.siret }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm rounded" href="{{ path('clinique_show', {'id': clinique.id}) }}">Détails</a>
                    <a class="btn btn-warning btn-sm rounded" href="{{ path('clinique_edit', {'id': clinique.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucunes cliniques inscrites sur la plateforme.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
