{% extends 'layout/base_user.html.twig' %}

{% block title %}Clinique{% endblock %}

{% block body %}
    <h1 class="text-center">{{ clinique.nom }}</h1>

    <a class="btn btn-secondary rounded btn-sm" href="{{ path('clinique_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste </a>

    {% if is_granted(ROLE_ADMIN) or clinique.hasUser(app.user) %}
        <a class="btn btn-warning pull-right mb-2 rounded btn-sm" href="{{ path('clinique_edit', {'id': clinique.id}) }}">Modifier</a>
    {% endif %}
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ clinique.nom }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ clinique.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ clinique.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ clinique.telephone }}</td>
            </tr>
            <tr>
                <th>Rendez-vous à domicile ?</th>
                <td>{{ clinique.rdvDomicile ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ clinique.siret }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
