{% extends 'layout/base_user.html.twig' %}

{% block title %}Clinique{% endblock %}

{% block body %}
    <h1 class="text-center">{{ clinique.nom }}</h1>

    {% if is_granted(ROLE_ADMIN) %}
        <a class="btn btn-secondary rounded btn-sm" href="{{ path('clinique_index') }}"><i class="fas fa-arrow-left mr-1"></i>Retour à la liste </a>
    {% endif %}

    {#    {% if is_granted(ROLE_ADMIN) or clinique.hasUser(app.user) %}#}
    {#        <a class="btn btn-warning pull-right mb-2 rounded btn-sm" href="{{ path('clinique_edit', {'id': clinique.id}) }}">Modifier</a>#}
    {#    {% endif %}#}

    <div class="clearfix mb-3"></div>


    <div class="d-flex col-12 flex-column flex-lg-row">


        <div class="card rounded col-12 col-lg-6 mb-3">
            <div class="card-body ">
                <h5 class="card-title">{{ clinique.nom }}</h5>
                <div class="d-flex flex-column">
                    <div class="mr-3 logo-clinique mb-3 text-center">
                        {% if clinique.avatar %}
                            <img src="{{ asset(dir_avatar_clinique ~ clinique.avatar) }}" alt="clinique" class="rounded-pill">
                        {% else %}
                            <span class="logo-clinique__default ml-2 d-flex align-items-start"><img src="{{ asset('assets/img/svg/health-clinic_50x50.svg') }}" alt="clinique"></span>
                        {% endif %}
                    </div>
                    <div class="w-100">
                        <p class="card-text">
                            <span>{{ clinique.adresse|nl2br }}</span><br>
                            <br>
                            Téléphone : <a href="tel:{{ clinique.telephone }}">{{ clinique.telephone }}</a><br>
                            Email : <a href="mailto:{{ clinique.email }}">{{ clinique.email }}</a><br>
                            Siret : {{ clinique.siret }}<br>
                            <br>
                            Horaires : <br>
                        </p>
                        {% set dayPreced = null %}
                        {% for horaire in clinique.cliniqueHoraires %}
                            {% if dayPreced != horaire.jour and loop.first == false %}
                                {#                                <hr>#}
                            {% endif %}
                            <div class="col-12 row {{ ("now"|date('N')) == horaire.jour ? "now"|date('H:i') >= horaire.heureDebut|date('H:i') and "now"|date('H:i') <= horaire.heureFin|date('H:i') ? 'text-success' : 'text-danger' }}">
                                {% if dayPreced != horaire.jour %}
                                    <div class="col-4">
                                        {{ days[horaire.jour] }} :
                                    </div>
                                {% else %}
                                    <div class="col-4">&nbsp;</div>
                                {% endif %}
                                <div class="col-8">
                                    de {{ horaire.heureDebut|date('H\\hi') }} à {{ horaire.heureFin|date('H\\hi') }}
                                </div>
                                <div class="clearfix"></div>
                                <br>
                            </div>
                            {% set dayPreced = horaire.jour %}
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% if is_granted(ROLE_ADMIN) or clinique.hasUser(app.user) and is_granted(ROLE_VETERINAIRE) == false %}
                <a class="btn btn-warning rounded-pill btn-sm icon-card" href="{{ url('clinique_edit', {id: clinique.id}) }}"><i class="fas fa-pen"></i> </a>
            {% endif %}
        </div>

        <div class="col-6 d-flex flex-column align-items-center">
            <h2 class="text-center">Vétérinaires</h2>

            {% for veterinaire in clinique.veterinaires %}
                {# @var veterinaire \App\Entity\Veterinaire #}
                {% include 'veterinaire/include/_card.html.twig' %}

            {% endfor %}


        </div>
    </div>







    {% if is_granted(ROLE_ADMIN) and clinique.demande %}
        <div class="text-center">
            <button type="button" data-toggle="modal" data-target="#modalValideInscription" class="btn btn-primary btn-sm rounded-pill">Traîter l'inscription</button>
        </div>


        <!-- Modal valide inscription -->
        <div class="modal fade" id="modalValideInscription" tabindex="-1" role="dialog" aria-labelledby="modalValideInscriptionLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalValideInscriptionLabel">Inscription de la clinique <span class="font-weight-bold text-primary">{{ clinique.nom }}</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Valider : </h3>
                        <p>
                            Si vous choisissez de <span class="font-weight-bold text-success">valider</span> l'inscription de la clinique, l'utilisateur principal recevra un email de validation et pourra commencer à utiliser les différents services que vous proposez.
                        </p>
                        <h3>Refuser : </h3>
                        <p>
                            Si vous choisissez de <span class="font-weight-bold text-danger">refuser</span> l'inscription de la clinique, l'utilisateur principal recevra un email lui indiquant un refus d'inscription.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Fermer</button>
                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#modalRefusInscription" class="btn btn-danger rounded-pill"><i class="fas fa-times mr-1"></i>Refuser</button>
                        <a href="{{ url('admin_clinique_valider', {id: clinique.id}) }}" class="btn btn-success rounded-pill"><i class="fas fa-check mr-1"></i>Valider</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal refus inscription -->
        <div class="modal fade" id="modalRefusInscription" tabindex="-1" role="dialog" aria-labelledby="modalRefusInscriptionLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRefusInscriptionLabel">Refus d'inscription de la clinique <span class="font-weight-bold text-primary">{{ clinique.nom }}</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ url('admin_clinique_refuser', {id: clinique.id}) }}" id="formRefusInscription">
                            <div class="form-group">
                                <label for="motifAnnulation">Motif d'annulation</label>
                                <textarea class="form-control" id="motifAnnulation" rows="3" name="motifRefus" required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-danger rounded-pill" id="button-send-formRefus"><i class="fas fa-times mr-1"></i>Refuser</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if is_granted(ROLE_ADMIN) and clinique.demande %}
        {{ encore_entry_script_tags('js/component/clinique/valide.js') }}
    {% endif %}
{% endblock %}
