{% extends 'layout/base_user.html.twig' %}

{% block title %}Proprietaire{% endblock %}

{% block body %}
    <h1 class="text-center">Fiche du particulier : {{ proprietaire.nom }} {{ proprietaire.prenom }}</h1>

    <div class="row col-12 mt-3">


        <div class="card rounded col-6">
            <div class="card-body d-flex">
                <div class="mr-3">
                    <a href="{{ url('proprietaire_show', {id: proprietaire.id}) }}">
                        {% if proprietaire.avatar %}
                            <img src="{{ asset(dir_avatar_user ~ proprietaire.avatar) }}" alt="{{ '<i class=\'fas fa-user-circle\'></i>'|raw }}" class="rounded-pill">
                        {% else %}
                            <span class="logo-user__default ml-2"><i class="fas fa-user-circle"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div>
                    <h5 class="card-title">{{ proprietaire.nomPrenom }}</h5>
                    <p class="card-text">
                        {{ proprietaire.adresse|nl2br }}<br>
                        <br>
                        Né le {{ proprietaire.dateNaissance|date("d/m/Y") }}<br>
                        Téléphone : <a href="tel:{{ proprietaire.telephone }}">{{ proprietaire.telephone }}</a><br>
                        Mobile : <a href="tel:{{ proprietaire.mobile }}">{{ proprietaire.mobile }}</a><br>
                        Email : <a href="mailto:{{ proprietaire.email }}">{{ proprietaire.email }}</a><br>
                        <br>
                        Membre depuis le {{ proprietaire.dateCreation|date('d/m/Y \\à H\\hi') }}<br>
                        Dernière connexion le {{ proprietaire.derniereConnexion|date('d/m/Y \\à H\\hi') }}<br>
                    </p>
                </div>

            </div>
            {% if is_granted(ROLE_ADMIN) or is_granted(ROLE_CLINIQUE) or is_granted(ROLE_VETERINAIRE) or proprietaire == app.user %}
                <a class="btn btn-warning rounded-pill btn-sm icon-card" href="{{ url('proprietaire_edit', {id: proprietaire.id}) }}"><i class="fas fa-pen"></i> </a>
            {% endif %}
        </div>


    </div>


{% endblock %}
