{% extends 'layout/base_user.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ rdv.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ rdv.date ? rdv.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Observations</th>
            <td>{{ rdv.observations }}</td>
        </tr>
        <tr>
            <th>Domicile</th>
            <td>{{ rdv.domicile ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Urgence</th>
            <td>{{ rdv.urgence ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('rdv_index') }}">back to list</a>

    <a href="{{ path('rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
