<nav class="navbar navbar-expand-md navbar-dark bg-primary menu_nav">
    <a href="{{ url('index') }}">
        <img style="width: 100px; height: 100px;" src="{{ asset('assets/img/homepage/mypets_logo2.png') }}" alt="MyPets logo"/>
    </a>
    <nav class="navbar navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse navbar-collapse my-2 " id="navbarToggleExternalContent">
        <ul class="navbar-nav ml-auto mr-0 d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_clinique_index') }}">CLINIQUES</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                {#                {% include public_dir~asset('assets/img/svg/user-circle-solid.svg') %}#}
                {#                <img src="{{ asset('assets/img/svg/user-circle-solid.svg') }}" alt="userlogo" class="logo-user logo-user__default">#}
                <a class="nav-link" href="{{ app.user ==false ? url('app_login') : '#' }}">{{ app.user.nomPrenom }}</a>
                <span class="logo-user__default">
                    <i class="fas fa-user-circle"></i>
                </span>
            </li>
        </ul>
    </div>
</nav>
